div#story{
 position: fixed;
 width: 50vw;
 left: 25vw;
 height: 75vh;
}
#stats{
 position: fixed;
 float: right;
 right: 2px;
 height: 100vh;
 width: 25vw;
}
#detail{
 position: fixed;
 float:left;
 height: 100vh;
 width: 25vw;
}
#input{
 position: fixed;
 top: 75vh;
 width: 50vw;
 height: 25vh;
 left: 25vw;
}
#detail-pic{
 width: 22vw;
}
p:first-letter{
 size: (175%);
}
.direction{
    text-align: center;
    align-self: center;
    align-content: center;
    align-items: center;
    text-align-last: center;
}